div {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: 2.5vw;
  color: darkolivegreen;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bolder;
}

.emp {
  color: brown;
  font-size: 2vw;
  font-weight: bold;
}

.content {
  text-align: center;
}

.box {
  width: 20vw;
  background-color: cadetblue;
  margin: 20px;
  padding: 40px;
  /* border: 4px solid black; */
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 15px;
  color: white;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
  /* x축오프셋, y축 오프셋, 그림자 길이, 페이드아웃(블러) */
}

.container {
  width: 800px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
}

.left-menu {
  width: 20%;
  height: 400px;
  background-color: cornflowerblue;
  /* float: left; */
  display: inline-block;
}

.main-content {
  width: 80%;
  height: 400px;
  background-color: coral;
  /* float: left; */
  display: inline-block;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  clear: both;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url("../img/shoes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* filter: brightness(70%); */
  padding: 1px;
  position: relative;
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
}

.main-contents {
  color: white;
  text-align: center;
  width: 300px;
  white-space: normal;
  /* margin-bottom: 50px; */
  left: 0;
  right: 0;
  margin: auto;
}

.main-button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  position: absolute;
  /* bottom: 200px;
  left: 540px; */
  clear: both;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
}

.bottom-box {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-width: 650px;
  height: 200px;
  top: -50px;
  background-color: #eee;
}

.bottom-title {
  text-align: center;
  padding-top: 30px;
}
.bottom-contents {
  text-align: center;
  width: 60%;
  max-width: 500px;
  white-space: normal;
  /* margin-bottom: 50px; */
  left: 0;
  right: 0;
  margin: auto;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  font-size: medium;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid black;
}
